-# in app/views/users/show.html.haml


-# in app/views/users/show.html.haml
%div.profile-container
  %h1 User Profile Page

  %div.profile-image
    = image_tag("BasicProfilePic.png", alt: 'User profile image')

  %div.account-details
    %h2 My Account
    %p
      %strong Username:
      = @user.username
    %p
      %strong Email:
      = @user.email


  %div.user-actions
    = link_to 'Edit Profile', edit_user_path(@user), class: 'edit-profile-link'

  %div.navigation-links
    %ul



