- if logged_in?
  .container
    %h1 Welcome to Deal Docks
  .container
    .items-carousel-container
      .items-carousel.slick-slider
        - @suggested_items.each_slice(3) do |group_of_items|
          .slick-slide
            - group_of_items.each do |item|
              .item
                %h3= item.title
                %p= item.description
    %ul.category-list
      %li Category 1
      %li Category 2
      %li Category 3
      %li Category 4
- else
  .container
    %h1 Welcome to Website Name
    = link_to 'Sign Up', signup_path, class: 'btn btn-primary'
    = link_to 'Login', login_path, class: 'btn btn-secondary'

%footer
  %p © 2023 Website Name. All rights reserved.
