/* app/assets/stylesheets/home.css */

body {
  font-family: 'Arial', sans-serif;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-form input[type="text"],
.search-bar input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sell-button, .user-profile,
.search-bar input[type="submit"] {
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; /* Added bottom margin for spacing */
}

.category-list li {
  margin-bottom: 5px;
}

#suggested-items {
  display: grid;
  gap: 40px; /* Increase space between items */
  justify-content: center; /* Center the items in the grid */
  padding: 40px 0; /* Increase padding top and bottom */
}

.item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 30px; /* Larger padding for larger appearance */
  text-align: center;
  font-size: 1.5em; /* Larger font size for item names */
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
  color: #666;
}

/* Style for the category list */
.category-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* allows items to wrap in case of multiple categories */
  list-style-type: none; /* removes bullet points from list items */
  padding: 0; /* removes default padding */
  width: 100%; /* ensures the list takes up the full width of the container */
}

/* Style for individual category buttons */
.category-button {
  padding: 10px 20px; /* provides padding inside the buttons */
  margin: 20px; /* space between buttons */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center; /* centers text within the button */
  display: block; /* displays the button as a block-level element */
  width: auto; /* allows the button to size according to its content */
  /* remove the fixed width to allow content to determine the button size */
}

/* Hover effect for buttons */
.category-button:hover {
  background-color: #0056b3;
}
